body{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    min-width: 100%;
    display: inline-flex;
    position: fixed;
}

img {
    width: 5em;
}
.navbar {
    align-self: center;
    margin-left: auto;
    color: black;
    list-style: none;
}

.menu-list {
    display: inline-flex;
    list-style: none;
}

.menu-list li {
    padding: 0 1em;
}
a:visited{
    color: gray;
}

a:hover{
    color:blue
}

body{
    background-image: url(https://i.postimg.cc/R0sBKQGV/leaves.jpg);
    background-attachment: scroll;
}

i{
    color: gray;
}